{% extends "basic_app/basic_app_base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Detalle Apartamento</h1>
    <h2>Informacion:</h2>
    <p>Nombre: {{school_details.nombre}}</p>
    <p>Correo: {{school_details.email}}</p>
    <p>Celular: {{school_details.celular}}</p>
    <p>Torre: {{school_details.torre}}</p>
    <p>Piso: {{school_details.piso}}</p>
    <p>Numero de Apt: {{school_details.numero_de_apartamento}}</p>


  </div>
  <div class="container">
    <p><a class='btn btn-warning' href="{% url 'basic_app:update' pk=school_details.pk %}">Actualizar</a></p>

  </div>

{% endblock %}
